.card_cover {
  position: relative;
}

.description {
  position: relative;
  /* height: 4.5em; */
  overflow: hidden;
}
.description h2 {
  margin-bottom: 0;
}

.description:after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 1.5em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%
  );
}
